body {
    --DISPLAY: 'DM Serif Display', serif;
    --REGULAR: 'Hind Madurai', sans-serif;
    --MONOSPACE: 'Source Code Pro', monospace;
    --HEADING: 'Montserrat', sans-serif;
    --DIVTEST: 1px solid #fff;
    display: flex;
    flex-direction: row;
    background-color: #212121;
    color: #fff;
    font-family: var(--REGULAR);
    padding-top: 1vw;
    font-size: 20px;
}
@media screen and (min-width: 800px) {
    nav {
        width: 5vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translateX(-0.99vw);
        font-size: 1.7vw;
    }
    #collapsed-nav {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    
    nav {
        display: none;
    }
    #collapsed-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translateX(-0.99vw);
        font-size: 17px;
        border: 12.5px solid #2f2f2f;
        border-right: 10px solid #2f2f2f;
        border-radius: 1vw;
        background-color: #2f2f2f;
    }
    #collapsednavmenu {
        height: 100%;
        width: 100%;
        background-color: #212121;
        color: #fff;
        border: 0px;
        font-family: var(--REGULAR);
        font-size: 5vw;
    }
    #collapsednavmenu > form > button {
        background-color: rgba(47, 47, 47, 0);
        border: 0px;
        color: #fff;
        font-size: 5vw;
        
    }
}


main {
    padding-left: 5.5vw;
}

.display {
    font-family: var(--DISPLAY);
    font-size: 3.5vw;
    padding: 0;
}

.monospace {
    font-family: var(--MONOSPACE);
}

.heading {
    font-family: var(--HEADING);
    font-weight: 900;
}

.nav-item {
    flex-grow: 1;
    border: 1.25vw solid #2f2f2f;
    border-right: 1vw solid #2f2f2f;
    border-radius: 1vw;
    background-color: #2f2f2f;
    color: #fff;
}
.nav-spacer {
    border: 1vw;
    background-color: transparent;
}

a {
    color: #ffff99;
    text-decoration: none;
}

a:hover {
    color: #ffff99;
    text-decoration: underline;
}

#petition {
    background-color: #212121;
    color: #fff;
    font-family: var(--REGULAR);
    border: 0px;
    height: 100%;
    width: 100%;
}
#petition::backdrop {
    background-color: rgba(47, 47, 47, 0.647);
}
@media screen and (min-width: 2240px) {
    body {font-size: 1vw;}
}
@media screen and (max-width: 1080px) {
    .display {font-size: 35px;}
    #ANTAI-HEADING-IMAGE {
        width: 90vw; 
        height: auto;
    }
}
@media screen and (min-width: 1080px) {
    #ANTAI-HEADING-IMAGE {
        width: 70%;
        height: auto;
    }
}
button {
    color: #fff;
    background-color: #2f2f2f;
    border: 1px solid #fff;
    border-radius: 3px;
}
footer {
    height: 10px;
    width: 100%;
    bottom: 0;
    font-size: 9px;
    color: #cecece;
    text-align: center;
}
.collapsed-nav-item {
    width: 100%;
    color: #fff;
    background-color: #212121;
    border-bottom: 1px solid #fff;
    height: 30px;
}